{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/travel-detail.css' %}"
/>
<script defer src="{% static 'js/travel-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="travel-container">
  <div class="travel-img">
    {% if travel.photo.url %}
    <img 
      src="{{travel.photo.url}}" 
      alt="A photo of travel to {{travel.city}}"
      class="usr-img"
    >
    {% else %}
    <img 
    src="{% static 'images/travelbook.svg' %}" 
    alt="The Travel Book"
    >
    {% endif %}
  </div>
  <div class="travel-details">
    <h1>{{ travel.city }}, {{ travel.country }}</h1>
    {% if is_past_tense %}
    <h2>Traveled on {{ travel.date }}.</h2>
    {% else %}
    <h2>Traveling on {{ travel.date }}.</h2>
    {% endif %}
    <p>{{ travel.description }}</p>
    <div class="travel-actions">
      <a href="{% url 'travels_update' travel.id %}" class="btn warn">Edit</a>
      <a href="{% url 'travels_delete' travel.id %}" class="btn danger">Delete</a>
    </div>
    <h3>Change the {{ travel.city }}, {{travel.country}} photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' travel.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>
<div class="activities-container">
  <section class="activities">
    <div class="subsection-title">
      <h2>Excursions/Activities</h2>
      <img 
        src="{% static 'images/activity.svg' %}" 
        alt="Surfer"
      />
    </div>
    <h3>Add a Excursion/Activity</h3>
    <form
      action={% url 'add_activity' travel.id %}
      method="POST"
      class="subsection-content"
    >
      {% csrf_token %}
      {{ activity_form.as_p }}
      <button 
        type="submit" 
        class="btn submit"
      >
        Add Excursion/Activity
      </button>
    </form>
    <h3>All Excursions/Activities</h3>
    {% if travel.activity_set.all.count %}
      <table>
        <thead>
          <tr><th>Activity</th><th>Rating</th></tr>
        </thead>
        <tbody>
          {% for activity in travel.activity_set.all %}
            <tr>
              <td>{{activity.activity}}</td>
              <td>{{activity.rating}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="subsection-content">Nothing added yet</p>
    {% endif %}
  </section>
</div>
{% endblock %}