{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/travel-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Travel Log</h1>
  <img src="{% static 'images/globe.svg' %}" alt="" />
</section>

<section class="card-container">
  {% for travel in travels %}
    <div class="card">
      <a href="{% url 'travels_detail' travel.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/travelbook.svg' %}" 
              alt="Travel Book Main"
            >
          </div>
          <h2 class="card-title">{{ travel.city }}, {{ travel.country }}</h2>
          <p>{{ travel.date }}</p>
          <p><small>{{ travel.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>
{% endblock %}