{% extends 'base.html' %}

{% block content %}

<h1>About Travel Book</h1>
<hr />
<p class="about-text">
  This is your go to app for all your travel & excurision blogging. Feel free to add all your past and future travel destinations. For me and many others traveling is when we are at our happiest and also make the best memories that end up lasting forever. I have created a app that will allow a user to signup and login to keep a log of all their vacations, sometimes you may have done an activity/excursion that you loved or you hated, you can keep all those details in one place with Travel Book.
</p>

{% endblock %}